{{{title}}}

'''{{{title}}}'''

{{{article}}}

<quiz display=simple grade={{{grade}}}>
{{#questions}}
{ {{{question}}}
|type="()"}
{{#ans}}{{{.}}}
{{/ans}}
{{/questions}}
</quiz>

{{# grade}}
[[Category:Grade{{{.}}}]]
{{/ grade}}
[[Category:Quiz]]